        body p {
            margin: 0;
            padding: 0;
        }
        
        nav {
            display: flex;
            justify-content: space-around;
            width: 20%;
            margin-left: auto;
            padding: 2em;
            margin-bottom: 5px;
        }
        
        a {
            color: black;
            text-decoration: none;
        }
        
        a:hover {
            text-decoration: underline;
        }
        
        nav img {
            height: 20px;
        }
        
        main {
            width: 50%;
            margin: 6em auto;
            text-align: center;
            margin-top: 1em;
            margin-bottom: 9em;
        }
        
        input {
            width: 85%;
            padding: 1em;
            border-radius: 30px;
            border: 1px solid rgb(221, 220, 220);
            text-align: center;
        }
        
        .btn-containers {
            margin-top: 1em;
            margin-bottom: 1em;
        }
        
        .btn-containers button {
            padding: 1em;
            border: none;
        }
        
        .btn-style {
            background-color: rgb(66, 133, 244);
            border: none;
            color: white;
        }
        
        .lang {
            color: blue;
        }
        
        footer {
            background-color: rgb(240, 236, 236);
            color: grey;
        }
        
        .footer-top {
            padding: 1em;
        }
        
        .footer-bottom {
            padding: 1em;
            display: flex;
            justify-content: space-between;
            border-top: 1px solid rgb(206, 204, 204);
        }
        
        .left a {
            margin-right: 1em;
            color: grey;
        }
        
        .right a {
            margin-right: 1em;
            color: grey;
        }
        
        .acolor {
            color: grey;
        }
        
        .input-container {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
        
        .input-container i {
            position: absolute;
            width: 100px;
            margin-bottom: 10px;
        }
        
        .icon {
            padding: 10px;
            min-width: 40px;
            left: 0;
        }
        
        .icons {
            right: 0;
        }